<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1 class="heading">Weather Report</h1>
    <div class="divv">
        <h2 class="heading1"><%= city %>, <%= state %></h2>
    <p class="result heading1"><%= content %></p>
    </div>
</body>
</html>